name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

env:
  CARGO_TERM_COLOR: always

jobs:
  CI:
    strategy:
      matrix:
        operating_system: [ubuntu-24.04, ubuntu-22.04, ubuntu-20.04, windows-2022, windows-2019, macos-14, macos-13, macos-12]
    runs-on: ${{ matrix.operating_system }}
    name: "Build & Test: ${{ matrix.operating_system }}"
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose

    - name: Test 
      run: cargo test 

    - name: Check
      run: cargo check 

    - name: Format
      run: cargo fmt --all -- --check

    - name: Bench
      run: cargo bench
  Docs:
    runs-on: ubuntu-latest
    name: "Generate Documentation"
    steps:
      - uses: actions/checkout@v4
        
      - name: Docs
        run: cargo doc

      - uses: actions/upload-artifact@v4
        with:
          name: apm-docs
          path: ${{ runner.workspace }}/Apm/target/doc